<!--------------------- start of  navbar  --------------------->
<!--
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">

  <a class="navbar-brand col-md-4 col-sm-4" href="#">GIFY</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class=" collapse navbar-collapse" id="navbarNav">
<ul class="nav  justify-content-center me-auto mb-2 mb-lg-0">
  <li class="nav-item  col-md-2 col-sm-2">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item col-md-2 col-sm-2">
    <a class="nav-link" routerLink="carousel">Trending</a>
  </li>
  <li class="nav-item col-md-2 col-sm-2">
    <a class="nav-link"  routerLink="category">Category</a>
  </li>
  <li class="nav-item  col-md-2 col-sm-2">
    <a class="nav-link" routerLink="gifs">Gifs</a>
  </li>
</ul>

</div>
</div>
</nav> -->





<!-- ///////////////./////////// -->


<nav class="navbar navbar-expand-md navbar-light ">
  <div class="container-fluid nav-con">
    <div class="logoo">
    <a class="navbar-brand" id="mybrand" href="#"> MY GIF</a>
  </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item nav-icon">
          <a class="nav-link active home-color" aria-current="page" routerLink="">Home</a>
        </li>

        <li class="nav-item nav-icon ">
          <a class="nav-link active home-color" aria-current="page"   routerLink="category">Category</a>
        </li>

         <li class="nav-item nav-icon " >
          <a class="nav-link active home-color" aria-current="page"  routerLink="carousel">Trending</a>
        </li>
        <li class="nav-item nav-icon " >
          <a class="nav-link active home-color" aria-current="page"   routerLink="gifs">Gifs</a>
        </li>
      </ul>

    </div>
  </div>
</nav>


