.carousel{
  margin: 0 auto;
}
.carousel .carousel-item {
  height: 300px;

}
.carousel-item img {
  margin: 1%;
  }
h1{
  margin: 12% 0 2% 5%;
  font-size: 40px;
  animation: changColor 3s infinite;

  }

@keyframes changColor{
0%{
color: #8946A6;
}
25%{
color: #f58d6d;
}
50%{
color: 	#f56dd5;
}
100%{
color: #F56D91;
}
}


