<div class="carousel container">

  <h1>Trending</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner active">
            <div class="carousel-item col" >
                <img  [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/6doc3WcKb9o3OUwfzf/giphy.gif'"    width="340" height="300"/>
                <img   [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/26uflGcXHKFR3xWCs/giphy.gif'"    width="340" height="300"/>
                <img    [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/gi8JtlDffQMexR3YcU/giphy.gif'"  width="340" height="300"/>
            </div>
            <div class="carousel-item col active">
              <img  [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/pXOSkho1nhuI3EX3QY/giphy.gif'"  width="340" height="300"/>
              <img  [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/Lq5r6qXmb5RUIZGbT0/giphy.gif'"  width="340" height="300"/>
              <img  [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/fipN1GOuDK8txSqay3/giphy.gif'"  width="340" height="300"/>
            </div>
            <div class="carousel-item col">
              <img [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/tXhuiyu6ZBtCev3rzs/giphy.gif'"     width="340" height="300"/>
              <img    [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/3X7qCQJH09cEwYhKAZ/giphy.gif'"  width="340" height="300"/>
              <img    [defaultImage]="'https://media.giphy.com/media/17mNCcKU1mJlrbXodo/giphy.gif'" [lazyLoad]="'https://media.giphy.com/media/Bopg9fzIL4zLVUvVfT/giphy.gif'"  width="340" height="300"/>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

