.footer {
  background-color: #F56D91!important;
  color:#8946A6!important;
  font-size: 14px;
  padding: 60px 0 20px;
  width: 100%;
  bottom: 0;
text-align: center;
}

h2{
font-size: 20px;
}

p
{
font-size: 10px;
}
  .socail-icon img{
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
  .socail-icon img:hover{
 filter: grayscale(0);
}
