

<div class="footer fixed">
  <div class="container">
      <div class="row">

        <div class="footer-header">

          <div class="brand"> <h1>MY GIF</h1></div>
          <h2>Your Complete Web Solution</h2>
         </div>

         <div class="footer-content">

           <div class="footer-links">
             <a href="" class="socail-icon"><img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png"/></a>
             <a href="" class="socail-icon"><img src="https://img.icons8.com/bubbles/50/000000/instagram-new.png"/></a>
             <a href="" class="socail-icon"><img src="https://img.icons8.com/bubbles/50/000000/twitter.png"/></a>
             <a href=""class="socail-icon"><img src="https://img.icons8.com/bubbles/50/000000/behance.png"/></a>
           </div>


             <p>Copyright &copy; 2020 gif. All rights reserved</p>

</div>
</div>
</div>
